---
title: "Publications"
permalink: /publications/
layout: single
author_profile: true
---

<p><a href="https://scholar.google.com/citations?user=NZdDW_8AAAAJ&amp;hl=en">Google Scholar</a></p>
<ul class="publication-list">
{% assign publications = site.publications | sort: 'order' | reverse %}
{% for paper in publications %}
<li id="{{ paper.publication_id | downcase }}">
<h2>[{{ paper.publication_id }}] <a href="{{ paper.url | relative_url }}">{{ paper.title }}</a></h2>
<p class="publication-citation">{{ paper.citation_text }}</p>
{% if paper.paperurl != '' %}<p><a href="{{ paper.paperurl }}">Publication link</a></p>{% endif %}
</li>
{% endfor %}
</ul>
<img class="research-banner" src="{{ "/images/works-grid.png" | relative_url }}" alt="Original Works page artwork" loading="lazy">
