/* ==========================================================================
   DEFAULT THEME
   ========================================================================== */

/* Color codes used for the theme */
$gray                       : #356b9a;
$dark-gray                  : mix(#000, $gray, 40%);
$darker-gray                : mix(#000, $gray, 60%);
$light-gray                 : mix(#fff, $gray, 50%);
$lighter-gray               : mix(#fff, $gray, 90%);

/* Color codes used for the site */
$danger-color               : #ee5f5b;
$info-color                 : #2468a2;
$notice-color               : #7a8288;
$success-color              : #62c462;
$warning-color              : #f89406;

/* Other basic settings for the template */
$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* Default light theme for the site */
:root {
    --global-base-color                 : #356b9a;
    --global-bg-color                   : #fbfdff;
    --global-footer-bg-color            : #f3f7fb;
    --global-border-color               : #dbe7f2;
    --global-dark-border-color          : #bfd1e1;
    --global-code-background-color      : #f3f7fb;
    --global-code-text-color            : #24364b;
    --global-fig-caption-color          : #60758a;
    --global-link-color                 : #2468a2;
    --global-link-color-hover           : #164f7f;
    --global-link-color-visited         : #4c6f91;
    --global-masthead-link-color        : #2a3d52;
    --global-masthead-link-color-hover  : #2468a2;
    --global-text-color                 : #2b3948;
    --global-text-color-light           : #5f7387;
    --global-thead-color                : #edf4fa;
}
